<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns.xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<servlet>
		<servlet-name>Ch3 Beer</servlet-name>
		<servlet-class>br.com.example.web.BeerSelect</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Teste param</servlet-name>
		<servlet-class>br.com.example.web.TesteParam</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>email@dominio.com,br</param-value>
		</init-param>
		<init-param>
			<param-name>emailAdmin</param-name>
			<param-value>emailAdmin@dominio.com,br</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>ListenerTester</servlet-name>
		<servlet-class>br.com.example.web.ListenerTester</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SessionTest</servlet-name>
		<servlet-class>br.com.example.web.SessionTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CookieTest</servlet-name>
		<servlet-class>br.com.example.web.CookieTestServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Ch3 Beer</servlet-name>
		<url-pattern>/SelectBeer.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Teste param</servlet-name>
		<url-pattern>/TesteParam.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListenerTester</servlet-name>
		<url-pattern>/Listener.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SessionTest</servlet-name>
		<url-pattern>/SessionTest.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CookieTest</servlet-name>
		<url-pattern>CookieTest.do</url-pattern>
	<servlet-mapping>

	<listener>
		<listener-class>
			br.com.example.web.listeners.MyServletContextListener
		</listener-class>
	</listener>
	
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

</web-app>	
